<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
{#    <link rel="icon" type="image/svg+xml" href="/vite.svg" />#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
{#    <script type="module" crossorigin src="/static/index-ae700d5c.js"></script>#}
      <script type="module" crossorigin src="{{ url_for('static', filename='index-ae700d5c.js') }}"></script>
    <link href="{{ url_for('static', filename='index-17e177fe.css') }}" rel="stylesheet">

{#    <link rel="stylesheet" href="/static/index-17e177fe.css">#}
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
